[Unit]
Description=C9 Ide DNA2 http://localhost:9292/
After=network.target
[Service]
ExecStart= /home/vagrant/c9updna2.bat
Restart=always
User=vagrant
Group=vagrant
Environment=PATH=/usr/bin:/usr/local/bin: /home/vagrant
#Environment=NODE_ENV=production
WorkingDirectory=/home/vagrant/
[Install]
WantedBy=multi-user.target
