[Unit]
Description=C9 Ide http://localhost:9191/
After=network.target
[Service]
ExecStart= /home/vagrant/c9up.bat
Restart=always
User=vagrant
Group=vagrant
Environment=PATH=/usr/bin:/usr/local/bin:/home/vagrant
#Environment=NODE_ENV=production
WorkingDirectory=/home/vagrant/
[Install]
WantedBy=multi-user.target
