# This unit mount vagrant shared directory (or any other you want)

[Unit]
Description=Mount Shared folder
#ConditionFileIsExecutable=/etc/rc.local
Wants=virtualbox-guest-utils.service
Requires=virtualbox-guest-utils.service
After=virtualbox-guest-utils.service

[Service]
Type=forking
ExecStart=/bin/mount -t vboxsf -o rw,uid=1000,gid=1000,_netdev vagrant /vagrant
TimeoutSec=0
RemainAfterExit=yes
SysVStartPriority=99
[Install]
WantedBy=multi-user.target